/* ===================================================================== */
/* ===============================Font/Text============================= */

@font-face {
  font-family: "Poppins-Medium";
  src: url("../Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

/* ===================================================================== */
/* ===============================Background============================ */

.first-background {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

/* ===================================================================== */
/* ===============================Grid================================== */

/* ===================================================================== */
/* =============================content================================= */

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
}

/* ===================================================================== */
/* =============================row-1=================================== */
.row-1 {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/-1;
  margin-top: 20vh;
}

.search-bar {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #ffffff;
  overflow: hidden;
}

.search-bar-active {
  animation: search-start 1s forwards;
}

@keyframes search-start {
  from {
    width: 2.6rem;
  }

  to {
    width: 20rem;
  }
}

.search-bar-deactive {
  animation: search-close 1s forwards;
}

@keyframes search-close {
  from {
    width: 20rem;
  }

  to {
    width: 2.6rem;
  }
}

.search-bar-input {
  display: inline-block;
  font-family: "Poppins-Medium";
  font-size: 1rem;
  text-rendering: none;
  color: #414141;
  text-shadow: none;
  text-align: start;
  background-color: transparent;
  margin: 0rem;
  border: none;
  width: 17rem;
  z-index: 2;
}

.search-bar-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.search-bar-input[type="text"i] {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.search-icon {
  width: 1.5rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 0.6rem 0.4rem;
  z-index: 3;
  background-color: #ffffff;
}

.search-icon-link {
  width: 1.5rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding-right: 2.6rem;
  padding-top: 2.6rem;
  z-index: 4;
}

/* ===================================================================== */
/* =============================row-7=================================== */
.row-7 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 7/8;
  margin-top: 3rem;
  grid-column: 2/-2;
}

.social-media-icons {
  width: 5rem;
  max-width: 5rem;
}

.social-media {
  display: grid;
  grid-column: 4/8;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row: 1/-1;
}